html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: $primary;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300; 
}

a { color: $accent; text-decoration: none;}

a:hover { color: #666; text-decoration: underline;}

body.design {
    background-color: $white;
}

/* GRID */
.limited {
    max-width: 1140px; 
    margin: auto;
}

.row { display: flex; flex-wrap: wrap; }

.column { padding: 0 2vw; margin: 0 0 .75rem 0;}

.small-12 {flex-basis: 100%;}
.small-6 {width: 50%}

/* header rules */
header {
    background-color: $alternate;

    img {
        float: left; 
        height: 85px;
        padding-right: 10px; }
}
header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-style: italic;
}
header {
    h1 { 
        padding: .5rem 0 0 0; 
        font-size: 1.95rem; }
    h2{
        padding: .2rem 0 0 0; 
        font-size:1.05rem; }
}

/* navigation rules */
button#hamburgerBtn { 
    background: none;
    border:none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}
nav { 
    background-color: $alternate;
    
    ul{margin:0; padding: 0;}
    li {list-style-type: none;}
    a {
        display: block;
        padding: .8rem 0; 
        color: #eee;
        text-align: center;
        text-decoration: none; }
    li.active {background-color: $primary}
    a:hover {background-color: rgba(0,0,0,0.2);}
    ul.open {display: block;}
    ul {display: none;}
}

main img {width: 100%; height: auto;}

main h1, main h3 { 
    color: $primaryColor;
    font-style: italic;
    margin: .5rem 0 .1rem 0; }

main {
    h1 { font-size: 2rem; }

    h3 { font-size: 1.2rem; }

    p {
        font-size: 1.2rem;
        margin: 0 0 .3rem 0; }
}// end of main

.labeled h6, .labeled p {
    position: absolute;
    background-color: rgba(255,255,255,.7);
    margin: 0;
    width: 100%;
    padding: .3rem 1rem; }

.labeled { 
    position: relative ;

    h6 {
        top: 0;
        font-size: 2rem;
        font-weight: 300; }

        p {
            bottom: 0;
            font-weight: 700;
            color: #b00; }
}

footer{
    background-color: $secondary;
    font-size: 1.2rem;

    h2 {
        font-style: italic;
        text-transform: uppercase;
        margin: 1rem 0 .3rem 0; }

        ul {
            list-style-type: none;
            padding: 0; }

        li {padding-bottom: .3rem;}
}

.accent { color: $accent; }

.grid{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
    justify-items: left;
}

.default { color: $default; width: 100%; text-align: right; padding-right: 20px; }

// .item { text-align: center; }
.label { margin-top: 10px; }

.circle {
    border-radius: 25px;
    filter: drop-shadow(2px 2px 4px #000);
    height: 50px;
    // margin: 0 auto;
    width: 50px;
}

.odd {
    background-color: $alternate;
}

ul { list-style: none; margin: 0; padding: 0;}

li { margin: 0; padding: 0; font-size: .7rem; }

.primary-background { background-color: $primary; }

.accent-background { background-color: $accent; }

.white-background { background-color: $white; }

.darkgreen-background { background-color: $darkgreen-background; }

.sacramento-state-green-background { background-color: $sacramento-state-green-background; }

.title {
    font-size: .8rem;
    font-weight: bold;
}

/* 12 COLUMN GRID SYSTEM */
// .row { 
//     display: flex;
//     flex-wrap: wrap;
// }

// create .small-1 - .small-12 
@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}